footer {
  margin-top: 3rem;
  background: $primary-font-color;
  padding: 3rem 0 0 0;
  color: $secondary-font-color;
}

footer img {
  display: block;
  margin: 0 auto 8rem auto;
}

.footer_columns-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer_columns-flex h4 {
  font-size: 2rem;
  text-transform: uppercase;
  color: $primary-color;
  margin: 0 0 3rem 0;
  position: relative;
}

.footer_columns-flex h4::after {
  content: '';
  background-color: $primary-color;
  position: absolute;
  top: 100%;
  left: 0;
  width: 7rem;
  height: .3rem;
}

.footer_col-1 {
  width: 16rem;
  nav ul {
    margin: 0;
    li {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
}

.footer_col-1 nav ul li a {
  transition: color .35s;
}

.footer_col-1 nav ul li a:hover,
.footer_col-1 nav ul li a:focus {
  color: #f5f5f5;
} 

.footer_col-1 a:first-child {
  margin-top: 0;
}

.footer_col-2 {
  margin-top: 8rem;
  width: 20.5rem;
  p {
    font-size: 1.5rem;
     margin: 2rem 0 0 0;
   }
}

.footer_col-2 p:nth-child(2) {
  margin-top: 1.7rem;
  font-style: italic;
  color: $secondary-color;
}

.footer_col-3  {    
  margin-top: 8rem;
  width: 25rem;
  a i {
    color: $primary-font-color;
    background: $secondary-color;
    font-size: 2.75rem;
    border-radius: 10rem;
    padding: 2rem;
    margin-right: 2rem;
    transition: color .35s, background .35s;
  }
}

.footer_col-3 a:hover i,
.footer_col-3 a:focus i {
  color: $secondary-font-color;
  background: $primary-color;
}

.footer_col-3 .fa-instagram {
  margin-right: 0;
}

.footer_bottom {
  background-color: #212121;
  margin-top: 8rem;
  padding: 3rem 0;
  h4 {
    color: #f5f5f5;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}

//tablet media query 
@media (min-width: 600px) {
  //effects footer only
  .tablet-media-query-footer_wrapper {
    width: 50rem;
  }

  .footer_columns-flex {
    flex-direction: row;
    justify-content: space-between;
    .footer_col-2 {
      margin-top: 0;
    }
  }

  .footer_col-3 {
    margin: 8rem auto 0 auto;
  }
}

//desktop media query 
@media (min-width: 1100px) {
  .tablet-media-query-footer_wrapper {
    width: 100rem;
  }

  .footer_col-2 {
    width: 40rem;
  }

  .footer_col-3 {
    margin: 0;
  }
}