.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  h1 {
    font-size: 1.5rem;
    a {
      transition: color .35s;
      &:hover,
      &:focus {
        color: $secondary-font-color;
      }
    }
  }
}

.nav-flex .fa-bars {
  color: $secondary-font-color;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color .35s;
  &:hover,
  &:focus {
    color: $primary-font-color;
  }
}

//desktop nav
.desktop-media-query_ul-flex {
  display: none;
}

header {
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),
    url("./assets/hero.jpg");
  background-position: 62% 50%;
  backdrop-filter: grayscale(1);
  background-size: cover;
  height: 440px;
  width: 100%;
  color: $header-font-color;
  text-transform: uppercase;
  position: relative;
  .main-heading-flex {
    position: absolute;
    top: 16rem;
    z-index: 0;
    h2 {
      font-size: 5rem;
      letter-spacing: 1.5rem;
      margin: 0;
    }
    h3 {
      font-size: 1.2rem;
      letter-spacing: .25rem;
      background-color: $secondary-color;
    }
  }
}

@media (min-width: 500px) {
  header h3 {
    padding: .5rem;
  }
}

.rectangle-underlay {
  position: absolute;
  top: -2rem;
  left: 11rem;
  z-index: -10;
  background: $secondary-color; 
  height: 5rem;
  width: 20rem;
}

//tablet media query 
@media (min-width: 700px) {
  .nav-flex .fa-bars {
    display: none;
  }

  .hamburger-menu_ul {
    display: none;
  }

  //effects nav only
  .tablet-media-query-nav_wrapper {
    width: 70rem;
  }

  //desktop nav
  .desktop-media-query_ul-flex {
    display: inline-flex;
    justify-content: space-between;
    width: 45rem;
    font-size: 1.2rem;
    transition: color .35s;
    color: $secondary-font-color;
    li a {
      transition: color .35s;
      &:hover,
      &:focus {
        color: $header-font-color;
      }
    }
  }

  .desktop-media-query_ul-flex a:nth-child(4) {
    margin-left: 2rem;
  }

  .icon {
    color: $primary-font-color;
    transition: color .35s;
    &:hover,
    &:focus {
      color: $header-font-color;
    }
  }
}