// variables

//colours
$primary-color: #d7eaf6;
$secondary-color: #fef1f1;
$primary-font-color: #282828;
$secondary-font-color: #8d8d8d;
$header-font-color: #4c5860;

//fonts
$primary-font: 'Raleway', sans-serif; 

//mixins 
@mixin carousel-characters {
  padding: 1.2rem 1.3rem 1rem 1.45rem;
  color: $primary-font-color;
  font-size: 1rem;
  background: #f5f5f5;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

@mixin headings {
  font-size: 2.9rem;
  text-transform: uppercase;
}

@mixin heading-paragraphs {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: $secondary-font-color;
}